.wrapper {
  // padding: 0px 50px;
}

.headlinetop {
  margin: 10px auto 60px auto;
  width: 80%;
  p {
    color: #272727d7;
    padding: 50px 10px 0px 0px;
    font-size: 2.8rem;
    text-align: center;
  }
}

.headline {
  p {
    color: #272727d7;
    padding: 0px 70px;
    font-size: 3rem;
    text-align: center;
  }
}

.title {
  padding-top: 60px;
  text-align: center;
  h1 {
    color: rgb(48, 48, 48);
    display: inline;
    font-size: 4rem;
    background-image: linear-gradient(
      120deg,
      #5ce1ff00 0%,
      #5ce1ffa6 50%,
      #5ce1ff00 100%
    );
    padding-bottom: 8px;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 102%;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  margin-bottom: 50px;
}

.container .image {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 100%;
  opacity: 1;
}

.color1 {
  background-image: linear-gradient(#1f51ad);
}

.color2 {
  background-image: linear-gradient(#b83329);
}

.color3 {
  background-image: linear-gradient(#29b848);
}

.container .details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
  height: 100%;

  h1 {
    color: rgb(48, 48, 48);
    display: inline-block;
    font-size: 3.6rem;
  }

  p {
    font-size: 1.7rem;
    color: #1d1d1de1;
    margin-bottom: 16px;
    font-weight: 300;
    word-spacing: 0.2rem;
    .bold {
      font-weight: 500;
    }
  }
}

.container .rightDetails {
  height: 100%;
  background: rgb(48, 48, 48);
  p,
  h1 {
    color: white;
  }
}

.contact {
  text-align: center;
  margin: 60px auto 70px auto;
}

.button {
  text-decoration: none;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 2rem;
  color: white;
  border: 1px solid #66cde4;
  cursor: pointer;
  background: #00c6ff;
  background-image: linear-gradient(to right, #00c6ff 0%, #0084ff 140%);
  box-shadow: 0px 0px 5px #0000002c;
  border-radius: 3px;
  word-spacing: 3px;

  &:hover {
    background-position: right;
    border: 1px solid #9cebfd;
    box-shadow: 0px 0px 10px #ffffff48;
  }
}

@media screen and (min-width: 1300px) {
  .container .details {
    p {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1600px) {
  .container .details {
    p {
      font-size: 2.4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .middleContainer {
    display: flex;
    flex-direction: column-reverse;
    .image {
      width: 100%;
    }
  }

  .container .details {
    padding: 10px 20px;
  }

  .title {
    padding-top: 60px;
    h1 {
      font-size: 3.5rem;
    }
  }

  .headline,
  .headlinetop {
    p {
      font-size: 2.4rem;
    }
  }
}
