.wrapper {
  // box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 80px;
  // margin-top: 30px;
  // display: block;
  // background: rgb(241, 241, 241);
}

.content {
  top: 20px;
}

.header {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  h1 {
    color: rgb(48, 48, 48);
    display: inline;
    // margin: 2rem 0;
    font-size: 4rem;
    background-image: linear-gradient(
      120deg,
      #5ce1ff00 0%,
      #5ce1ffa6 50%,
      #5ce1ff00 100%
    );
    padding-bottom: 8px;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 102%;
  }
}

.container {
  // display: table;
  // padding: 0 10px;
  // position: relative;
  display: flex;
  justify-content: space-around;

  align-items: center;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // border: 1px solid red;
  // &:hover {
  //   transform: scale(110%);
  // }
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
  }
  .container {
    flex-direction: column;
    & > div:not(:first-child) {
      margin-top: 25px;
    }
  }
}
