.container {
  display: flex;
  height: 476px;
  justify-content: center;
  align-items: center;

  // background: black;
  // z-index: -10;
  // margin-bottom: 200px;
}

// .container > div {
//   flex: 2;
// justify-self: flex-start;
// border: 2px solid red;
// }

.container > div {
  // margin-bottom: 0px;
  // margin-top: 0px;
  // border: 1px solid red;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

// .image {
//   // display: flex;
//   // align-items: flex-start;
//   // justify-content: star;
//   // border: 2px solid red;
//   margin: 0;
//   // float: right;
//   // text-align: right;
//   // top: 0;
//   // position: relative;
//   text-align: center;
//   display: block;
//   // width: 100%;

//   // height: 680px;
//   max-width: 800px;
//   // object-fit: cover;
// }

.headline {
  text-align: center;
  // position: absolute;
  width: 90%;
  margin-bottom: 50px;
  // padding-left: 7rem;
}

.headline h1 {
  color: white;
  -webkit-text-stroke: 0.4rem white;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  // text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  // background: #00d0ffc5;
  // background-size: 100px;
  // background-position-y: 10%;
  // background-blend-mode: multiply;
  padding-bottom: 4px;
  // text-shadow: 0px 3px 0px #00d2ff;
  // .team {
  //   color: transparent;
  //   -webkit-text-stroke: 0.2rem white;
  // }
}

.headline p {
  display: inline-block;
  padding: 0 2rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
  // padding: 0 2rem;
  text-shadow: 0px 0px 2px black;
  color: white;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #00c6ff 0%,
    #0072ff 51%,
    #00c6ff 100%
  );
}
.btn-grad:hover {
  background-position: right center;
}

.button {
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 2rem;
  color: white;
  border: 1px solid #66cde4;
  cursor: pointer;
  background: #00c6ff;
  background-image: linear-gradient(to right, #00c6ff 0%, #0084ff 140%);
  box-shadow: 0px 0px 5px #0000002c;
  border-radius: 3px;
  word-spacing: 3px;

  &:hover {
    background-position: right;
    border: 1px solid #9cebfd;
    box-shadow: 0px 0px 10px #ffffff48;
  }
}

// background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
// .btn-grad:hover { background-position: right center; }

// .btn-grad {background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%)}
// .button:hover {
//   background-position: right center;
// }

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headline {
    padding: 0 1rem;
    text-align: center;
    p {
      font-size: 1.6rem;
    }
  }

  .headline h1 {
    // color: white;
    -webkit-text-stroke: 0.3rem white;
    font-size: 3.7rem;
    letter-spacing: 0.4rem;
    // text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    // background: #00d0ffc5;
    // background-size: 100px;
    // background-position-y: 10%;
    // background-blend-mode: multiply;
    padding-bottom: 4px;
    // text-shadow: 0px 3px 0px #00d2ff;
    // .team {
    //   color: transparent;
    //   -webkit-text-stroke: 0.2rem white;
    // }
  }
  .button {
    margin-top: 40px;
  }
}
